server {
        listen       80;
        server_name  localhost;

        root   /validation-tool/validation-tool-frontend/dist;
        index index.html;

        location = /${CONTEXT_PATH_NAME} {
                rewrite ^/${CONTEXT_PATH_NAME}$ /${CONTEXT_PATH_NAME}/ permanent;
        }

        location /${CONTEXT_PATH_NAME} {
                rewrite ^/${CONTEXT_PATH_NAME}(.*)$ /$1 last;
        }

        location / {
                try_files $uri /index.html;
        }
}
