<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /validation
RewriteRule ^validation/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /validation/index.html [L]
</IfModule>